




/* 
body{
	background-color: #000000;
	color: #CEB888;
}

header{
	text-align: center;
	background-color: #CEB888; 
	color: #632937;
	font-size: 200%;
	padding-top: 30px;
	padding-bottom: 10px;
	/*border: 2px solid black;
}

.mainNav {
	text-align: center;
	color: black; 
	background-color: #782F40;
	font-size: 100%;
	padding:12px;
	/*border: 2px solid black;
}

.mainNav a{
	padding-left: 10px;
	padding-right: 10px;

}

a:link,a:visited{
	text-decoration: none;
	color: #F0DC29;
}

a:hover {
	
	text-decoration: underline;
}

main {
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: #FDF6E6;
	color:#000000;
	border: 3px solid #782F40;
}

footer{
	background-color: #CEB888; 
	color: #632937;
	width:100%;
	position: absolute;
    bottom: 0px;
    padding:2%;
    font-size: 70%;
}

h2 {
	font-size: 115%; 
	padding: 1%;
	font-weight: bold; 
}

h3 {
	font-size: 100%; 
	padding: 1%;
}

*/





































